/* Whole horizontal section */
.skillsSection {
  position: relative;
  background: #f7f3eb;
  padding-top: 7rem;
  
}

/* Sticky viewport */
.sticky {
   display: flex;
  overflow-x: auto;
   scrollbar-width: none; 
  overflow-y: hidden;
  height: 30rem;
  padding-bottom: 2rem  ;
  scroll-snap-type: x mandatory;
}

.sticky::-webkit-scrollbar{
  display: none;
}

/* Title */
.title {
  font-size: 3rem;
  color: #342815;
  text-align: center;
  margin-bottom: 4rem;
  white-space: nowrap;
}

/* Horizontal track */
.track {
  display: flex;
  gap: 1rem;
  padding-right: 10rem;
  margin-top: 10rem;
  margin-left: 8rem;
  will-change: transform;
}

/* Each domain */
.domain {
  min-width: 40vw;
  padding: 0 4rem;
  border-left: 2px solid #d6c9b6;
}

.domain h3 {
  font-size: 2rem;
  color: #342815;
  margin-bottom: 2rem;
}

.domain ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.domain li {
  padding: 0.6rem 1.4rem;
  font-size: 0.9rem;
  background: rgb(37, 35, 32);
  border-radius: 999px;
  color: #ffffff;
  opacity: 0;
  animation: reveal 1.2s ease forwards;
}

.domain li:nth-child(odd) {
  animation-delay: 0.3s;
}

.domain li:nth-child(even) {
  animation-delay: 0.5s;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
